<div class="jumbotron text-center">
  <h1>MeanAuthApp</h1>
  <p class="lead">Welcome to ... **home.component.html**</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>box 1</h3>
    <p>box 1 text</p>
  </div>

  <div class="col-md-4">
    <h3>box 2</h3>
    <p>box 2 text</p>
  </div>

  <div class="col-md-4">
    <h3>box 3</h3>
    <p>box 3 text</p>
  </div>
</div>
